*{
    padding: 0;
    margin: 0;
}
body{
   background-color: black;
    width: 100%;
    height: 10 0%;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vh;
}
#headerimg{
    display: flex;
    flex-direction: row;
}
#headerimg img{
    height: 8vh;
}
header h5{
    color: white;
}

#navelem a{
    color: white;
    gap: 40px;
    text-decoration: none;
    margin:0px 50px 0px 60px;
}
.sec1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180vh;
    width: 80%;
    margin-top: 8vh;
    margin-bottom: 10vh;
    border: 1px solid rgb(245, 238, 238);
}
/* #sec1bigbox{
    border: 1px solid white;
    height: 100%;
    width: 80%;
} */
#sec1bigimg{
    width: 100%;
    height: 100%;
    background-image:  url(../res/bigimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.sec2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#prop1{
    border: 1px solid white;
    height: 50vh;
}
#prop2{
    border: 1px solid white;
    height: 50vh;
}
#prop3{
    border: 1px solid white;
    height: 50vh;
}
#prop4{
    border: 1px solid white;
    height: 50vh;
}
#prop5{
    border: 1px solid white;
    height: 50vh;
}
#prop6{
    border: 1px solid white;
    height: 50vh;

}
#longline{
    border: 1px solid white;
    width: 100%;
    margin-bottom: 3vh;
}