* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
  /* width: 90%; */
  /* height: 100%; */
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2vh;
}
#headerimg {
  display: flex;
  flex-direction: row;
}
#headerimg img {
  height: 8vh;
}
header h5 {
  color: white;
}
#navelem a {
  color: white;
  gap: 40px;
  text-decoration: none;
  margin: 0px 50px 0px 60px;
}
#navelem a:hover{
  color: #B5964D;
  text-decoration: line-through;
}
.sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180vh;
  width: 100%;
  /* margin-top: 8vh; */
  margin-bottom: 10vh;
  border: 1px solid rgb(245, 238, 238);
}
#sec1i {
  border: 1px solid white;
  height: 100%;
  width: 80%;
}
#sec1bigimg {
  width: 100%;
  height: 100%;
  background-image: url(../res/bigimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid white;
}
#sec1bigimg h1 {
  color: white;
}
.textinimg{
  border: 1px solid white;
  width: 80%;
  height: 80%;
}
.sec2 {
  margin-top: 10vh;
  display: flex;
  border-bottom: white 2px solid;
  align-items: end;
  justify-content: center;
  gap: 8px;
  margin-bottom: 30vh;
}
.dinnerbox {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dinnerbox img {
  width: 100%;
}
.dinnerbox h1 {
  color: #B5964D;
  margin-bottom: 2vh;
  font-size: 12px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  /* text-align: center; */
}
.dinnerbox p {
  color: white;
  font-size: 7px;
  font-weight: 100px;
  font-family: sans-serif;
  /* text-align: center; */
  margin-bottom: 2vh;
}
#dline1 {
  width: 2px;
  background-color: white;
  height: 25vh;
}
#dline2 {
  width: 2px;
  background-color: white;
  height: 40vh;
}
#dline3 {
  width: 2px;
  background-color: white;
  height: 35vh;
}
#dline4 {
  width: 2px;
  background-color: white;
  height: 15vh;
}
#dline5 {
  width: 2px;
  background-color: white;
  height: 20vh;
}
#dline6 {
  width: 2px;
  background-color: white;
  height: 20vh;
}
.sec3{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
  /* height: 100vh; */
}
#sectrio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 70%;
  margin-bottom: 30vh;
}
#sectrio h1{
  color: #B5964D;
  font-size: 17px;
  font-weight: 200px;
  font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#sectrio h2{
  margin-bottom: 5vh;
  color: white;
  font-size: 13px;
  font-weight:150px ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
#sectrio p{
  color: white;
  font-size: 11px;
  font-weight:100px ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 3vh;
}
span{
  color:#B5964D ;
}
.sec4{
  /* border: 1px solid white; */
  height: 100vh;
  display: flex;
  justify-content: center;
}
#dsec4{
  /* border: 1px solid white; */
  /* height: 90%; */
  width: 70%;
}
#dsec4 h1{
  color: #B5964D;
  font-family: Helvetica;
  font-weight: 700;
  font-size: 24px;
  line-height: 27.6px;
}
#dsec4 h6{
  color: #D9D9D9;
  font-family: Helvetica;
  font-weight: 300;
  font-size: 24px;
  line-height: 27.6px;
  margin-bottom: 10vh;
}
#text{ 
  width: 70%;
  height: 60%;
  margin-left: 14vw;
  padding: 20px;
  /* border: 1px solid white; */
}
#dsec4 h5{
 color: #B5964D;
 font-family: Helvetica;
 font-weight: 300px;
 font-size: 15px;
 Line-height :29.9px;
 margin-bottom: 5vh

}
#dsec4 p{
  color:#D9D9D9 ;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 10vh;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}
footer h6 {
  color: #B5964D;
  font-family:  Helvetica;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5vh;
  margin-left: 5vw;
}
footer p {
  color: white;
  font-weight: 400;
  font-size: 15px;
  margin-left: 5vw;
}
#footimg{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
  padding-right: 8vw;
}
footer a{
  width: 2vw;
  height: 2vh;
  margin-right: 30px;
}
#Last{
  color: #D9D9D9;
  padding: 20px;
  text-align: center;
}