* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
  /* width: 90%; */
  /* height: 100%; */
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2vh;
}
#headerimg {
  display: flex;
  flex-direction: row;
}
#headerimg img {
  height: 8vh;
}
header h5 {
  color: white;
}
#navelem a {
  color: white;
  gap: 40px;
  text-decoration: none;
  margin: 0px 50px 0px 60px;
}
.sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180vh;
  width: 100%;
  /* margin-top: 8vh; */
  margin-bottom: 10vh;
  /* border: 1px solid rgb(245, 238, 238); */
}
#sec1i {
  /* border: 1px solid white; */
  height: 100%;
  width: 80%;
}
#sec1bigimg {
  width: 100%;
  height: 100%;
  background-image: url(../res/bigimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#sec1bigimg h1 {
  color: white;
}
.sec2 {
  /* margin-top: 10vh; */
  display: flex;
  border-bottom: white 2px solid;
  align-items: end;
  justify-content: center;
  gap: 8px;
}
.dinnerbox {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dinnerbox img {
  width: 100%;
}
.dinnerbox h1 {
  color: rgb(109, 67, 11);
  margin-bottom: 1vh;
  font-size: 15px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.dinnerbox p {
  color: white;
  font-size: 10px;
  font-weight: 100px;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 2vh;
}

#dline1 {
  width: 2px;
  background-color: white;
  height: 20vh;
}
#dline2 {
  width: 2px;
  background-color: white;
  height: 20vh;
}
#dline3 {
  width: 2px;
  background-color: white;
  height: 20vh;
}
#dline4 {
  width: 2px;
  background-color: white;
  height: 20vh;
}
#dline5 {
  width: 2px;
  background-color: white;
  height: 20vh;
}
#dline6 {
  width: 2px;
  background-color: white;
  height: 20vh;
}
