* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
  /* width: 90%; */
  /* height: 100%; */
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2vh;
}
#headerimg {
  display: flex;
  flex-direction: row;
}
#headerimg img {
  height: 8vh;
}
header h5 {
  color: white;
}
#navelem a {
  color: white;
  gap: 40px;
  text-decoration: none;
  margin: 0px 50px 0px 60px;
}
#navelem a:hover{
  color: blanchedalmond;
}
.sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180vh;
  width: 100%;
  /* margin-top: 8vh; */
  margin-bottom: 10vh;
  /* border: 1px solid rgb(245, 238, 238); */
}
#sec1i {
  /* border: 1px solid white; */
  height: 100%;
  width: 80%;
}
#sec1ii{
  background: url(../res/Ellipse\ 4.png);
}
#sec1bigimg {
  width: 100%;
  height: 100%;
  background-image: url(../res/bigimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#sec1bigimg h1 {
  color: white;
}
.sec2 {
  margin-top: 10vh;
  display: flex;
  border-bottom: white 2px solid;
  align-items: end;
  justify-content: center;
  gap: 8px;
  margin-bottom: 30vh;
}
.dinnerbox {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dinnerbox img {
  width: 100%;
}
.dinnerbox h1 {
  color: rgb(109, 67, 11);
  margin-bottom: 2vh;
  font-size: 12px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  /* text-align: center; */
}
.dinnerbox p {
  color: white;
  font-size: 7px;
  font-weight: 100px;
  font-family: sans-serif;
  /* text-align: center; */
  margin-bottom: 2vh;
}
#dline1 {
  width: 2px;
  background-color: white;
  height: 25vh;
}
#dline2 {
  width: 2px;
  background-color: white;
  height: 40vh;
}
#dline3 {
  width: 2px;
  background-color: white;
  height: 35vh;
}
#dline4 {
  width: 2px;
  background-color: white;
  height: 15vh;
}
#dline5 {
  width: 2px;
  background-color: white;
  height: 20vh;
}
#dline6 {
  width: 2px;
  background-color: white;
  height: 20vh;
}
.sec3{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
  /* height: 100vh; */
}
#sectrio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 70%;
  /* height: 90%; */
  /* border: 1px solid white; */
}
#sectrio h1{
  color:rgb(230, 168, 87) ;
  font-size: 17px;
  font-weight: 200px;
  font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#sectrio h2{
  margin-bottom: 5vh;
  color: white;
  font-size: 13px;
  font-weight:150px ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
#sectrio p{
  color: white;
  font-size: 11px;
  font-weight:100px ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 3vh;
}
span{
  color:rgb(230, 168, 87) ;
}
.sec4{
  border: 1px solid white;
  height: 100vh;
  display: flex;
  justify-content: center;
}
#dsec4{
  border: 1px solid white;
  height: 90%;
  width: 80%;
}
#dsec4i{
  align-items: center;
  border: 1px solid white;
 
}